<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://kit.fontawesome.com/f9dab98028.js"></script>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- Bulma CDN -->
    <!-- <link rel="stylesheet" href="https://www.jsdelivr.com/package/npm/bulma"> -->

    <title>Super Pizza Bros</title>
  </head>
  <body style="background-color: #F2F4F4;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-primary"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="fas fa-bars"></i>
          </button>
          <div class="dropdown-menu bg-primary">
            <% if(!(!currentUser)){ %>  <!-- //that is if user is logged in -->
            <a class="dropdown-item bg-primary text-white" href="/profile">Profile</a>
              <% } %>
            <a class="dropdown-item bg-primary text-white" href="/cancelForm"
              >Cancel Order</a
            >
          </div>
        </div>
        <a class="navbar-brand" href="#">Super Pizza Bros</a>
        <!-- <div class="collapse navbar-collapse" id="navbarNav"> -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/menu">Menu</a>
          </li>
        </ul>
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link " href="/cart"
              ><i class="fas fa-shopping-cart fa-2x"></i
            ></a>
          </li>
        </li>
        <% if(!currentUser){ %>  <!-- //that is user is not signed in -->
        <li class="nav-item">
          <a href="/signup" class="nav-link">Signup  <i class="fas fa-user-plus"></i></a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link">Login  <i class="far fa-user"></i></a>
        </li>
        <% } else { %>
        <li class="nav-item">
            <a href="/logout" class="nav-link">Logout  <i class="fas fa-sign-out-alt"></i></a>
          </li>
        <% } %>  
        </ul>
        <!-- </div> -->
      </div>
    </nav>
  </body>
</html>
