<% include partials/header %>

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Super Pizza Bros</a></li>
      <li class="breadcrumb-item"><a href="#">Cart</a></li>
      <li class="breadcrumb-item"><a href="#">Order Placement Form</a></li>
      <li class="breadcrumb-item active" aria-current="page">Invoice</li>
    </ol>
  </nav>

  <h4>Please Enter Order Details</h4>
  <hr />
<!-- 
  <form action="/invoice/cancel"  method="GET">
    <input type="text" name="id">
    <button type="submit">Cancel Order</button>
  </form> -->

  <form action="/invoice/cancel" class="container" method="POST">
    <div class="row">
      <input
        type="text"
        name="Id"
        id=""
        placeholder="Enter Order ID"
        class="col form-control"
      />
    </div>
    <hr>
    <div class="row">
        <button type="submit" class="col-2 btn btn-danger mt-2 ml-2">Cancel Order</button>
    </div>
  </form>

  <pre>
















    
  </pre>




</div>

<% include partials/footer %>
