<% include partials/header %>
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Super Pizza Bros</a></li>
      <li class="breadcrumb-item"><a href="#">Cart</a></li>
      <li class="breadcrumb-item"><a href="#">Order Placement Form</a></li>
      <li class="breadcrumb-item "><a href="#">Invoice</a></li>
      <li class="breadcrumb-item active" aria-current="page">Order Cancelled</li>
    </ol>
  </nav>

  <h4 class="row">Order Cancelled, Thanks for Eating with Super Pizza Bros!</h4>

  <hr />

  <div class="row mx-auto">
    <img
      src="https://cdn0.iconfinder.com/data/icons/business-698/64/Apology-sorry-customer-service-waiter-respect-512.png"
      alt="bowing waiter"
      class="col mx-auto"     
      style="max-width: 40%;" 
    />
  </div>

  
</div>

<% include partials/footer %>
