<% include partials/header %>

        <div class="mx-auto mt-5 p-5 border border-primary" style="width: 500px;">
            <h3>Please Login to Proceed</h3> 
            <hr />
            <form action="" class="container">
                <input type="text" class="row m-2 form-control" placeholder="Enter User Name">
                <input type="text" class="row m-2 form-control" placeholder="Enter Password">
                <button class="row m-2 btn btn-primary">Login In</button>
            </form>


        </div>        

<% include partials/footer %>

