<% include partials/header %>
<div class="container">
        <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Super Pizza Bros</a></li>
                  <li class="breadcrumb-item"><a href="#">Login</a></li>
                  <!-- <li class="breadcrumb-item active" aria-current="page">Place Order</li> -->
                </ol>
              </nav>
</div>

<div class="mx-auto mt-5 p-5 border border-primary" style="width: 500px;">
  <h3>Please Login to Proceed</h3>
  <hr />
  <form action="/login" class="container" method="POST">
    <input
      type="text"
      class="row m-2 form-control"
      placeholder="Enter User Name"
      name="username"
    />
    <input
      type="text"
      class="row m-2 form-control"
      placeholder="Enter Password"
      name="password"
    />
    <button class="row m-2 btn btn-primary">Login In</button>
  </form>
</div>

<% include partials/footer %>
