<% include partials/header %>
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Super Pizza Bros</a></li>
      <li class="breadcrumb-item"><a href="#">Order Cancel Form</a></li>
      <!-- <li class="breadcrumb-item"><a href="#">Order Placement Form</a></li> -->
      <!-- <li class="breadcrumb-item "><a href="#">Invoice</a></li> -->
      <li class="breadcrumb-item active" aria-current="page">
        Order Not Found
      </li>
    </ol>
  </nav>

  <h4 class="row">Something Must Have Gone Wrong, Order Not Found!</h4>
  <hr>

  <div class="row mx-auto">
        <img
          src="https://www.iconspng.com/images/thinkingboy-outline/thinkingboy-outline.jpg"
          alt="wondering boy"
          class="col mx-auto"     
          style="max-width: 40%;" 
        />
      </div>

</div>

<% include partials/footer %>
