<% include partials/header %>

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Super Pizza Bros</a></li>
      <li class="breadcrumb-item active" aria-current="page">User Profile</li>
    </ol>
  </nav>

  <div class="row border border-secondary rounded">
    <h1 class="col">lolman!!!!!</h1>
  </div>
</div>

<% include partials/footer %>
