<% include partials/header %>

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Super Pizza Bros</a></li>
      <li class="breadcrumb-item active" aria-current="page">User Profile</li>
    </ol>
  </nav>

  <div class="row justify-content-center">
    <div class="col-2"><i class="fas fa-universal-access fa-10x"></i></div>
  </div>

  <div class="row justify-content-center mt-1">
    <% console.log( "from the profile page"+name) %>
      <!-- you'll need to make the below line dynamic -->
    <div><h5> <%= name %>  </h5></div>
  </div>

  <div class="row justify-content-center mt-1">
      <!-- you'll need to make the below line dynamic -->
      <a href="/userDetails"class="btn btn-warning">User Details</a>
    <!-- <button class="btn btn-warning">User Details</button> -->
  </div>

    <!-- <div class="row justify-content-center mt-2"> -->
        <!-- you'll need to make the below line dynamic -->
        <!-- <a href="/orderHistory" class="btn btn-warning" >Order History</a> -->
      <!-- <button class="btn btn-warning">Order History</button> -->
    <!-- </div> -->
</div>
<pre>















  








</pre>

<% include partials/footer %>
